* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


#score-display {
    margin: 20px;
    width: 200px;
    height: 50px;
}

#timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    margin: 20px;
    padding: 7px;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    font-family: Georgia, monospace;
}

#container {
    position: absolute;
    top: 200px;
    left: 20%;
    right: 20%;
}

#intro-container {
    display: flex;
    flex-direction: column;
    font-family: Georgia, monospace;
    font-size: 24px;
    border: 1px dotted black;
}

#intro-container p {
    padding: 20px;
}

#quiz-container {
    width: 100%;
    padding: 20px;
    border: 1px dotted black;
}

#form {
    border: 1px black solid;
    padding: 20px;
}

#name-input {
    width: 50px;
}

#answers{ 
    display: flex;
    flex-direction: column;
    font-family: Georgia, monospace;
}

.answer {/*these are the answer boxes */
    margin: 20px 40px 20px 40px;
}

#scores {
    display: flex;
    flex-direction: column;
    border: 1px dotted black;
}

#scores h2 {
    align-self: center;
    text-decoration: underline;
    padding: 20px;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 47px;
}

#scores-body {
    align-self: center;
}

button{
    background-color: #51DCA7;
    margin: 20px;
    height: 40px;
}

button:active{
    background-color: #6DEABA;
}

button:hover{
    border: 1px solid blue;
}
